@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }
}
